<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frist</title>
    <style>
        form > label {
            display: inline-block;
            width: 120px;
        }
        form > input {
            padding: 4px;
            margin-bottom: 4px;
        }
        a:link {
            text-decoration: none;
            color:black
        }
        a:visited {
            text-decoration: none;
            color:black
        }
    </style>
</head>
<body>
    
    <form action="http://localhost:8000/onememos/writeMemo/" method="GET">
        <button>get click</button>
    </form>
    <form action="http://localhost:8000/onememos/writeMemo/" method="POST">
        {% csrf_token %}
        <button>post click</button>
    </form>

    <h1>Good Days</h1>

    <form action="http://localhost:8000/onememos/createMemo/" method="POST" id="memowritefrom">
        <label for="memo" >Oneline Memo</label>
        <input type="text" id="memo" name="memoContent" size="100" placeholder="Write Oneline Memo" autocomplete="off"> 
        {% csrf_token %}
        <button type="submit" form="memowritefrom">Save Memo</button>
    </form>

    <div style="padding-top: 50px">
        <ul style="line-height: 2em">
            {% for list in lists %}
                <li>
                    <b>{{list.id}}</b>
                    {{list.memo_text}}
                    <small style="color: green; font-weight: bold">
                        ({{list.published_date | date:'Y-m-d'}})
                    </small>
                    [ <a href="./modify/{{list.id}}">Modify</a> ]
                    [ <a href="./delete/{{list.id}}">Delete</a> ]
                </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>