{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <header>
        <h1 style="text-align: center">Main Page</h1>
        <a href="./root/">root</a>
        <nav>
            <ul>
                <li>
                    <a href="">새소식</a>
                </li>
                <li>
                    <a href="">커뮤니티</a>
                </li>
                <li>
                    <a href="">리뷰</a>
                </li>
                <li>
                    <a href="">고객센터</a>
                </li>
            </ul>
        </nav>
    </header>
    <br>

    <div id="webbody" align="center">
        <table border="1">
            {% for list in lists %}
            <!-- 행을 반복하는 tr을 반복문으로 만들어야한다. 이때 새로운 title db를 만들어야함 -->
                <tr> 
                    <!-- 그리고 그 안에서 td를 반복시켜서 나열을 시켜야한다. -->
                    <td>
                        {% if list.photo %} 
                            <img src="{{ list.photo.url }}" alt=""><br>
                            <a href="{{list.id}}">{{list.title}}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            <tr>
                <td>
                    <img src="{% static "img/2-2.png" %}" alt=""><br>
                    <a href="">맘스터치</a>
                </td>
                <td>
                    <img src="{% static "img/2-3.png" %}" alt=""><br>
                    <a href="">노브랜드 버거</a>
                </td>
                <td>
                    <img src="{% static "img/2-4.png" %}" alt=""><br>
                    <a href="">투썸플레이스</a>
                </td>
                <td>
                    <img src="{% static "img/2-5.png" %}" alt=""><br>
                    <a href="">빽다방</a>
                </td>
                <td>
                    <img src="{% static "img/2-6.png" %}" alt=""><br>
                    <a href="">할리스커피</a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{% static "img/3-1.png" %}" alt=""><br>
                    <a href="">교촌치킨</a>
                </td>
                <td>
                    <img src="{% static "img/3-2.png" %}" alt=""><br>
                    <a href="">BBQ</a>
                </td>
                <td>
                    <img src="{% static "img/3-3.png" %}" alt=""><br>
                    <a href="">푸라닭</a>
                </td>
                <td>
                    <img src="{% static "img/3-4.png" %}" alt=""><br>
                    <a href="">BHC</a>
                </td>
                <td>
                    <img src="{% static "img/3-5.png" %}" alt=""><br>
                    <a href="">맥도날드</a>
                </td>
                <td>
                    <img src="{% static "img/3-6.png" %}" alt=""><br>
                    <a href="">롯데리아</a>
                </td>
            </tr>
        </table>
    </div>


</body>
</html>