{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modify</title>

    <link rel="stylesheet" href="{% static "css/modify.css" %}">
</head>
<body>
    <h1>Modify Page</h1>

    <form action="./update/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="idx" value="{{ article.id }}">

        <label for="memo">Modify Title</label>
        <input type="text" id="memo" name="title" value="{{ article.title }}" size="20" autocomplete="off">
        <br>
        <label for="memo">Modify Content</label>
        <input type="text" id="memo" name="content" value="{{ article.content }}" size="20" autocomplete="off">
        <br>
        <label for="memo">Modify Author</label>
        <input type="text" id="memo" name="writer" value="{{ article.writer }}" size="20" autocomplete="off">
        <br>s
        <button type="submit">수정하기</button>
        <button type="button" onclick="history.back()">돌아가기</button>


    </form>
</body>
</html>